* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1300px;
  border: 1px solid lightgray;
  margin: auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}


/* ==================== GLOBAL ========================== */
.static {
  position: static;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

/* ==================== GLOBAL ========================== */

#footer {
  height: 100vh;
  display: flex;
  justify-content: space-between;
}